<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814356717232-7nfc9ejubi53hf90gkuogm1hi8ck7bnb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814356717232-7nfc9ejubi53hf90gkuogm1hi8ck7bnb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>814356717232-7itj0ej3r1iuh2krh1o7j1s04ptfesus.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2JpD49nyU9-IAeMqTfjtp0PH5mju_d9c</string>
	<key>GCM_SENDER_ID</key>
	<string>814356717232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devforu.devii</string>
	<key>PROJECT_ID</key>
	<string>devii-77f3c</string>
	<key>STORAGE_BUCKET</key>
	<string>devii-77f3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814356717232:ios:6f048a24940afa399d2575</string>
</dict>
</plist>